[defaults]
inventory = inventory
private_key_file = ~/.ssh/optiplex
vault_password_file = ~/.vault_ansible

[privilege_escalation]
# because Ubuntu 26.04 changed way to do become tasks, must be defined
# https://www.reddit.com/r/ansible/comments/1t6ie61/become_true_not_working_with_ubuntu_2604_lts/
become_exe = sudo.ws
